@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Outfit-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Rubik-VariableFont_wght.woff2") format("woff2");
}

@theme {
  --font-rubik: "Rubik", "sans-serif";
  --font-outfit: "Outfit", "sans-serif";

  --font-sans: var(--font-rubik);
  --font-body: var(--font-rubik);
  --font-heading: var(--font-outfit);

}

@layer components {
  .prose {
    h1, h2, h3, h4, h5, h6 {
      @apply font-heading text-4xl font-medium !mt-0 !mb-6;
    } 

    a {
      @apply !font-normal;
    }
  } 
}
