---

---

<div
  class="prose prose-table:border-none prose-ul:pl-0 prose-li:pl-0 prose-a:font-normal prose-h1:hidden prose-th:text-base prose-thead:font-normal prose-headings:font-normal prose-h1:text-6xl prose-headings:text-4xl text-black [&_ol]:pl-[1rem] marker:text-black prose-table:table-fixed prose-th:first:w-1/4"
>
  <slot />
</div>
